// -----------------------------------------------------------------------------
// This file contains all color variables.
// -----------------------------------------------------------------------------

$color-black: #000000;
$color-white: #ffffff;
$color-gray: #dfdfdf;

$color-red: #b53c42;
$color-orange: #d59c22;
$color-yellow: #2cb512;

$color-green: #27db45;
$color-blue: #007fff;
$color-purple: #bf25ff;

$color-shadow-0: rgba(0,0,0,0) !default;
$color-shadow-1: rgba(0,0,0,0.033) !default;
$color-shadow-2: rgba(0,0,0,0.133) !default;
$color-shadow-3: rgba(0,0,0,0.233) !default;
$color-shadow-4: rgba(0,0,0,0.533) !default;
$color-shadow-5: rgba(0,0,0,0.833) !default;